# compiled output
/dist
/node_modules
/.pnp
.pnp.js

# testing
/coverage
*.log

# env files
.env
.env.local
.env.development
.env.production

# OS
.DS_Store

# IDEs
/.idea
/.vscode
*.swp
*.swo
*~

# misc
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
