# Application
NODE_ENV=development
PORT=3008

# Database
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_DATABASE=marketplace_db

# Service URLs
PAYMENT_SERVICE_URL=http://localhost:3004
BOOKING_SERVICE_URL=http://localhost:3002

# CORS
CORS_ORIGIN=http://localhost:3000
